# Data Analysis on FINRA_TRACE

In [1]:
import pandas as pd
import numpy as np
import os
from pathlib import Path

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
set_matplotlib_formats('retina')

from sklearn import preprocessing

### Read the pandas dataframe we got from data preparation

In [2]:
root_folder = Path('../Data/Pickle/')
file_name = 'TRACE2014_jinming.pkl'
file_path = root_folder / file_name

data = pd.read_pickle(file_path)

In [23]:
root_folder = Path('../Data/Dataset//')
file_name = 'Mergent_FISD_Bonds_Ratings.csv'
file_path = root_folder / file_name

rating_fields = ['COMPLETE_CUSIP','RATING_TYPE', 'RATING_DATE', 'RATING', 'RATING_STATUS' \
                ,'REASON', 'RATING_STATUS_DATE', 'INVESTMENT_GRADE']
rating_dtypes = {'COMPLETE_CUSIP':str,'RATING_TYPE':str, 'RATING':str, 'RATING_STATUS':str \
                ,'REASON':str, 'INVESTMENT_GRADE':str}
rating_parse_dates = ['RATING_DATE','RATING_STATUS_DATE']

ratings_data = pd.read_csv(file_path,usecols=rating_fields, dtype=rating_dtypes \
                           ,parse_dates=rating_parse_dates,infer_datetime_format=True)

In [24]:
ratings_data.head()

,RATING_TYPE,RATING_DATE,RATING,RATING_STATUS,REASON,RATING_STATUS_DATE,INVESTMENT_GRADE,COMPLETE_CUSIP
0,DPR,1989-10-24,NR,NaN,NaN,NaT,NaN,000361AA3
1,FR,1996-01-04,BBB-,NaN,IL,NaT,NaN,000361AA3
2,FR,1997-08-20,BBB,NaN,UPG,NaT,NaN,000361AA3
3,FR,1999-02-01,BBB,NaN,AFRM,NaT,NaN,000361AA3
4,FR,2000-08-16,BBB,NaN,IR,NaT,NaN,000361AA3

In [28]:
ratings_data.loc[ratings_data['COMPLETE_CUSIP'] == '000361AA3']

,RATING_TYPE,RATING_DATE,RATING,RATING_STATUS,REASON,RATING_STATUS_DATE,INVESTMENT_GRADE,COMPLETE_CUSIP
0,DPR,1989-10-24,NR,NaN,NaN,NaT,NaN,000361AA3
1,FR,1996-01-04,BBB-,NaN,IL,NaT,NaN,000361AA3
2,FR,1997-08-20,BBB,NaN,UPG,NaT,NaN,000361AA3
3,FR,1999-02-01,BBB,NaN,AFRM,NaT,NaN,000361AA3
4,FR,2000-08-16,BBB,NaN,IR,NaT,NaN,000361AA3
5,FR,2001-07-11,BBB,NaN,AFRM,NaT,Y,000361AA3
6,MR,1993-05-26,Baa3,NaN,IL,NaT,NaN,000361AA3
7,MR,1997-01-23,Baa2,NaN,UPG,NaT,NaN,000361AA3
8,MR,1999-12-29,Baa2,NaN,IR,NaT,NaN,000361AA3
9,MR,2000-12-15,Baa2,NaN,IR,NaT,NaN,000361AA3
10,MR,2001-04-06,Baa3,NaN,DNG,NaT,NaN,000361AA3
11,MR,2001-09-27,Baa3,WNOT,AFRM,NaT,NaN,000361AA3
12,MR,2001-11-01,NR,WOFF,CONF,2001-09-27,NaN,000361AA3
13,SPR,1995-02-22,BBB-,NaN,IL,NaT,NaN,000361AA3
14,SPR,1997-02-07,BBB-,NaN,AFRM,NaT,NaN,000361AA3
15,SPR,1997-07-03,BBB,NaN,UPG,NaT,NaN,000361AA3
16,SPR,2001-09-21,BBB,NaN,IR,NaT,Y,000361AA3

In [3]:
data.head()

,TRD_RPT_DTTM,TRD_EXCTN_DTTM,TRC_ST,BOND_SYM_ID,CUSIP_ID,SCRTY_TYPE_CD,ENTRD_VOL_QT,RPTD_PR,RPT_SIDE_CD,Report_Dealer_Index,...,document_date,ISSUER_ID,COMPLETE_CUSIP,AGENT_ID,CUSIP_NAME,INDUSTRY_GROUP,INDUSTRY_CODE,PARENT_ID,NAICS_CODE,SIC_CODE
0,2014-07-16 09:47:25,2014-07-16 09:47:13,T,TWIX3666829,982526AB1,CORP,25000.0,102.991997,B,0,...,2014-07-16,38591,982526AB1,52600,WRIGLEY WM JR CO,1,10,56732,31134,2067
1,2014-12-23 16:11:32,2014-12-23 16:11:17,T,WAMU3885939,92936PAB6,CORP,214.0,95.934578,S,83,...,2014-12-23,44811,92936PAB6,12434,WMI HLDGS CORP,2,20,12434,52212,6035
2,2014-12-05 14:43:44,2014-12-05 14:43:27,T,WAMU3885939,92936PAB6,CORP,100.0,92.500000,S,83,...,2014-12-05,44811,92936PAB6,12434,WMI HLDGS CORP,2,20,12434,52212,6035
3,2014-12-03 10:48:12,2014-12-03 10:48:11,T,WAMU3885939,92936PAB6,CORP,1.0,88.000000,B,0,...,2014-12-03,44811,92936PAB6,12434,WMI HLDGS CORP,2,20,12434,52212,6035
4,2014-12-23 16:11:16,2014-12-23 16:10:56,T,WAMU3885939,92936PAB6,CORP,2000.0,95.250000,S,83,...,2014-12-23,44811,92936PAB6,12434,WMI HLDGS CORP,2,20,12434,52212,6035

In [4]:
data.columns

Index(['TRD_RPT_DTTM', 'TRD_EXCTN_DTTM', 'TRC_ST', 'BOND_SYM_ID', 'CUSIP_ID',
       'SCRTY_TYPE_CD', 'ENTRD_VOL_QT', 'RPTD_PR', 'RPT_SIDE_CD',
       'Report_Dealer_Index', 'Contra_Party_Index', 'document_date',
       'ISSUER_ID', 'COMPLETE_CUSIP', 'AGENT_ID', 'CUSIP_NAME',
       'INDUSTRY_GROUP', 'INDUSTRY_CODE', 'PARENT_ID', 'NAICS_CODE',
       'SIC_CODE'],
      dtype='object')

In [4]:
a = data['Report_Dealer_Index'].nunique()
print('How many unique dealer? {}'.format(a))

How many unique dealer? 1221

In [5]:
b = data['document'].nunique()
print('How many document for topic modeling? {}'.format(b))

How many document for topic modeling? 98304

In [6]:
c = b/a
print('Average working days? {}'.format(c))

Average working days? 80.51105651105651

In [7]:
d = data['BOND_SYM_ID'].nunique()
print('How many token for topic modeling? {}'.format(d))

How many token for topic modeling? 12078

In [8]:
matrix1_non_zero_entries = 4072730
e = matrix1_non_zero_entries / b
print('How many token per documnet on average? {}'.format(e))

How many token per documnet on average? 41.429951985677086

In [9]:
print('What is the TRC_ST ditribution?')
data.groupby(['TRC_ST']).size()

What is the TRC_ST ditribution?

TRC_ST
R      83208
T    6239629
dtype: int64

In [10]:
data[['ENTRD_VOL_QT','RPTD_PR']].describe()

       ENTRD_VOL_QT       RPTD_PR
count  6.322837e+06  6.322837e+06
mean   5.920860e+05  1.034367e+02
std    2.400993e+06  1.207773e+01
min    1.000000e-02  0.000000e+00
25%    1.000000e+04  9.960500e+01
50%    3.300000e+04  1.030000e+02
75%    2.500000e+05  1.087440e+02
max    1.216477e+09  2.322500e+02

In [21]:
data.loc[data['BOND_SYM_ID']=='ALGT4137543']

,TRD_RPT_DTTM,TRD_EXCTN_DTTM,TRC_ST,BOND_SYM_ID,CUSIP_ID,SCRTY_TYPE_CD,ENTRD_VOL_QT,RPTD_PR,RPT_SIDE_CD,Report_Dealer_Index,Contra_Party_Index,document_date,document
23924,2014-09-25 15:03:41,25SEP2014 14:03:36,T,ALGT4137543,01748XAA0,CORP,15000.0,105.500,S,5,99999,2014-09-25,"5,2014-09-25"
23949,2014-09-25 15:03:10,25SEP2014 14:03:04,T,ALGT4137543,01748XAA0,CORP,20000.0,105.500,S,5,99999,2014-09-25,"5,2014-09-25"
23952,2014-09-25 15:02:54,25SEP2014 14:02:50,T,ALGT4137543,01748XAA0,CORP,20000.0,105.500,S,5,99999,2014-09-25,"5,2014-09-25"
23980,2014-09-25 15:02:44,25SEP2014 14:02:38,T,ALGT4137543,01748XAA0,CORP,40000.0,105.500,S,5,99999,2014-09-25,"5,2014-09-25"
23982,2014-09-25 15:03:27,25SEP2014 14:03:20,T,ALGT4137543,01748XAA0,CORP,15000.0,105.500,S,5,99999,2014-09-25,"5,2014-09-25"
115901,2014-07-24 13:26:53,24JUL2014 12:26:44,T,ALGT4137543,01748XAA0,CORP,11000.0,102.250,S,151,99999,2014-07-24,"151,2014-07-24"
115902,2014-07-24 13:26:47,24JUL2014 12:26:44,T,ALGT4137543,01748XAA0,CORP,7000.0,102.250,S,151,99999,2014-07-24,"151,2014-07-24"
115903,2014-08-12 11:27:00,12AUG2014 10:26:00,T,ALGT4137543,01748XAA0,CORP,10000.0,104.295,S,151,99999,2014-08-12,"151,2014-08-12"
115904,2014-10-31 11:53:36,31OCT2014 10:53:26,T,ALGT4137543,01748XAA0,CORP,3000.0,102.500,S,151,99999,2014-10-31,"151,2014-10-31"
115905,2014-09-16 16:10:36,16SEP2014 15:10:31,T,ALGT4137543,01748XAA0,CORP,2000.0,104.000,S,151,99999,2014-09-16,"151,2014-09-16"
115906,2014-09-15 13:58:16,15SEP2014 12:58:10,T,ALGT4137543,01748XAA0,CORP,2000.0,104.250,S,151,99999,2014-09-15,"151,2014-09-15"
115907,2014-09-16 14:04:56,16SEP2014 13:04:00,T,ALGT4137543,01748XAA0,CORP,25000.0,105.600,S,151,99999,2014-09-16,"151,2014-09-16"
115908,2014-10-31 11:53:38,31OCT2014 10:53:26,T,ALGT4137543,01748XAA0,CORP,9000.0,102.500,S,151,99999,2014-10-31,"151,2014-10-31"
115909,2014-09-23 18:15:57,23SEP2014 17:15:46,T,ALGT4137543,01748XAA0,CORP,10000.0,103.500,S,151,99999,2014-09-23,"151,2014-09-23"
115911,2014-07-24 13:26:53,24JUL2014 12:26:44,T,ALGT4137543,01748XAA0,CORP,7000.0,102.250,S,151,99999,2014-07-24,"151,2014-07-24"
115912,2014-09-03 10:28:39,03SEP2014 9:28:27,T,ALGT4137543,01748XAA0,CORP,2000.0,104.750,S,151,99999,2014-09-03,"151,2014-09-03"
115913,2014-07-24 13:27:05,24JUL2014 12:26:44,T,ALGT4137543,01748XAA0,CORP,14000.0,102.250,S,151,99999,2014-07-24,"151,2014-07-24"
115914,2014-09-23 18:15:52,23SEP2014 17:15:46,T,ALGT4137543,01748XAA0,CORP,10000.0,103.500,S,151,99999,2014-09-23,"151,2014-09-23"
115915,2014-09-03 10:28:31,03SEP2014 9:28:27,T,ALGT4137543,01748XAA0,CORP,2000.0,104.750,S,151,99999,2014-09-03,"151,2014-09-03"
115916,2014-12-08 12:02:50,08DEC2014 11:02:49,T,ALGT4137543,01748XAA0,CORP,29000.0,101.500,S,151,99999,2014-12-08,"151,2014-12-08"
115917,2014-09-15 13:58:19,15SEP2014 12:58:10,T,ALGT4137543,01748XAA0,CORP,10000.0,104.250,S,151,99999,2014-09-15,"151,2014-09-15"
115919,2014-10-31 13:17:58,31OCT2014 12:17:00,T,ALGT4137543,01748XAA0,CORP,10000.0,105.060,S,151,99999,2014-10-31,"151,2014-10-31"
115920,2014-09-03 10:28:43,03SEP2014 9:28:27,T,ALGT4137543,01748XAA0,CORP,4000.0,104.750,S,151,99999,2014-09-03,"151,2014-09-03"
115921,2014-10-30 16:31:45,30OCT2014 15:31:00,T,ALGT4137543,01748XAA0,CORP,12000.0,104.805,S,151,99999,2014-10-30,"151,2014-10-30"
115923,2014-08-07 09:59:30,07AUG2014 8:59:00,T,ALGT4137543,01748XAA0,CORP,10000.0,103.912,S,151,99999,2014-08-07,"151,2014-08-07"
115924,2014-09-23 18:15:49,23SEP2014 17:15:46,T,ALGT4137543,01748XAA0,CORP,15000.0,103.500,S,151,99999,2014-09-23,"151,2014-09-23"
115925,2014-07-30 11:50:43,30JUL2014 10:50:00,T,ALGT4137543,01748XAA0,CORP,18000.0,103.475,S,151,99999,2014-07-30,"151,2014-07-30"
115926,2014-09-16 16:10:35,16SEP2014 15:10:31,T,ALGT4137543,01748XAA0,CORP,2000.0,104.000,S,151,99999,2014-09-16,"151,2014-09-16"
115927,2014-09-15 13:58:12,15SEP2014 12:58:10,T,ALGT4137543,01748XAA0,CORP,3000.0,104.250,S,151,99999,2014-09-15,"151,2014-09-15"
115928,2014-07-21 16:58:39,21JUL2014 15:58:00,T,ALGT4137543,01748XAA0,CORP,23000.0,104.040,S,151,99999,2014-07-21,"151,2014-07-21"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5892148,2014-07-21 10:45:03,21JUL2014 9:44:53,T,ALGT4137543,01748XAA0,CORP,5000.0,101.635,D,3513,2970,2014-07-21,"3513,2014-07-21"
5998109,2014-08-05 14:55:54,05AUG2014 13:55:44,T,ALGT4137543,01748XAA0,CORP,20000.0,101.875,D,844,3086,2014-08-05,"844,2014-08-05"
6083225,2014-07-21 10:44:56,21JUL2014 9:44:54,T,ALGT4137543,01748XAA0,CORP,5000.0,101.635,D,2970,3279,2014-07-21,"2970,2014-07-21"
6083227,2014-09-05 12:50:23,05SEP2014 11:50:20,T,ALGT4137543,01748XAA0,CORP,8000.0,103.819,D,2970,3279,2014-09-05,"2970,2014-09-05"
6083244,2014-11-10 13:52:40,10NOV2014 12:52:30,T,ALGT4137543,01748XAA0,CORP,25000.0,103.125,D,2970,3279,2014-11-10,"2970,2014-11-10"
6083245,2014-08-07 10:42:49,07AUG2014 9:42:38,T,ALGT4137543,01748XAA0,CORP,14000.0,101.000,D,2970,3279,2014-08-07,"2970,2014-08-07"
6083247,2014-09-04 17:30:53,04SEP2014 16:30:42,T,ALGT4137543,01748XAA0,CORP,330000.0,104.500,D,2970,3279,2014-09-04,"2970,2014-09-04"
6083249,2014-07-30 17:28:01,30JUL2014 16:27:49,T,ALGT4137543,01748XAA0,CORP,700000.0,101.875,D,2970,3279,2014-07-30,"2970,2014-07-30"
6083251,2014-09-03 17:35:04,03SEP2014 16:34:17,T,ALGT4137543,01748XAA0,CORP,1000000.0,104.625,D,2970,3279,2014-09-03,"2970,2014-09-03"
6083252,2014-09-19 16:10:25,19SEP2014 15:10:09,T,ALGT4137543,01748XAA0,CORP,226000.0,104.000,D,2970,3279,2014-09-19,"2970,2014-09-19"
6086135,2014-12-15 11:53:40,15DEC2014 10:53:40,T,ALGT4137543,01748XAA0,CORP,105000.0,99.750,D,2616,3297,2014-12-15,"2616,2014-12-15"
6203524,2014-07-21 12:53:24,21JUL2014 11:53:00,T,ALGT4137543,01748XAA0,CORP,18000.0,101.940,D,83,3503,2014-07-21,"83,2014-07-21"
6205338,2014-08-11 16:32:27,11AUG2014 15:32:00,T,ALGT4137543,01748XAA0,CORP,200000.0,102.000,D,151,3509,2014-08-11,"151,2014-08-11"
6232641,2014-07-25 13:35:31,25JUL2014 12:35:28,T,ALGT4137543,01748XAA0,CORP,5000.0,102.600,D,83,3513,2014-07-25,"83,2014-07-25"
6232658,2014-08-18 14:22:27,18AUG2014 13:22:24,T,ALGT4137543,01748XAA0,CORP,1000.0,103.800,D,83,3513,2014-08-18,"83,2014-08-18"
6232662,2014-08-04 14:57:48,04AUG2014 13:57:46,T,ALGT4137543,01748XAA0,CORP,3000.0,102.300,D,83,3513,2014-08-04,"83,2014-08-04"
6242987,2014-07-22 09:51:56,22JUL2014 8:51:55,T,ALGT4137543,01748XAA0,CORP,8000.0,101.950,D,2137,3513,2014-07-22,"2137,2014-07-22"
6242988,2014-07-29 17:20:01,29JUL2014 16:20:01,T,ALGT4137543,01748XAA0,CORP,5000.0,102.250,D,2137,3513,2014-07-29,"2137,2014-07-29"
6242989,2014-07-31 13:15:14,31JUL2014 12:15:13,T,ALGT4137543,01748XAA0,CORP,5000.0,102.350,D,2137,3513,2014-07-31,"2137,2014-07-31"
6242990,2014-07-23 12:51:03,23JUL2014 11:51:02,T,ALGT4137543,01748XAA0,CORP,5000.0,102.500,D,2137,3513,2014-07-23,"2137,2014-07-23"
6242991,2014-08-14 12:40:05,14AUG2014 11:40:05,T,ALGT4137543,01748XAA0,CORP,5000.0,102.625,D,2137,3513,2014-08-14,"2137,2014-08-14"
6242995,2014-08-06 12:52:58,06AUG2014 11:52:58,T,ALGT4137543,01748XAA0,CORP,6000.0,101.875,D,2137,3513,2014-08-06,"2137,2014-08-06"
6242996,2014-07-23 11:56:36,23JUL2014 10:56:35,T,ALGT4137543,01748XAA0,CORP,2000.0,102.500,D,2137,3513,2014-07-23,"2137,2014-07-23"
6242997,2014-11-14 09:54:29,14NOV2014 8:54:28,T,ALGT4137543,01748XAA0,CORP,2000.0,102.750,D,2137,3513,2014-11-14,"2137,2014-11-14"
6242999,2014-08-01 12:59:40,01AUG2014 11:59:39,T,ALGT4137543,01748XAA0,CORP,10000.0,102.000,D,2137,3513,2014-08-01,"2137,2014-08-01"
6243001,2014-07-29 10:33:16,29JUL2014 9:33:15,T,ALGT4137543,01748XAA0,CORP,10000.0,102.450,D,2137,3513,2014-07-29,"2137,2014-07-29"
6243008,2014-07-24 09:10:58,24JUL2014 8:10:57,T,ALGT4137543,01748XAA0,CORP,10000.0,102.750,D,2137,3513,2014-07-24,"2137,2014-07-24"
6243009,2014-10-31 13:38:25,31OCT2014 12:38:21,T,ALGT4137543,01748XAA0,CORP,10000.0,102.900,D,2137,3513,2014-10-31,"2137,2014-10-31"
6247069,2014-07-21 10:59:04,21JUL2014 9:59:04,T,ALGT4137543,01748XAA0,CORP,10000.0,102.000,D,2970,3513,2014-07-21,"2970,2014-07-21"
6291506,2014-07-21 18:02:58,21JUL2014 17:02:51,T,ALGT4137543,01748XAA0,CORP,5000.0,101.950,D,2137,3534,2014-07-21,"2137,2014-07-21"